.jj {
  padding-bottom: 162px;
  padding-top: 80px;
background-image: url("./imagis/advanture/Rectangle\ 48.jpg");
background-repeat: no-repeat;
background-position: center;
color:#fcf9ff ;
}
.gg{
  
  width: 1100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
   
}
.ff{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  
  letter-spacing: 0.1px;
}
ul{
  list-style: none;
}
.ll{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 80px;
text-align: center;
letter-spacing: 0.2px;
}
.kk{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;


text-align: center;
letter-spacing: 0.2px;
}
button{
  font-family: 'Montserrat';
font-style: normal;
align-items: center;
padding: 16px 82px 16px 82px;
opacity: 1;
box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
border-radius: 30px;
flex: none;
color:#fcf9ff;



;}
button:hover,
button:focus{
background: #FA4A0C;
color:#fcf9ff;
}



